.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.style-carousel {
  background: #61dafb;
  height: 400px;
}

.template-demo h5 {
  color: white;
  border: 1px solid burlywood;
  background: burlywood;
  display: inline-block;
}

.template-demo {
  margin-bottom: 100px;
}

.style-cards .row {
  width: 100%;
  margin: auto;
}

.style-cards .element-card {
  padding: 0;
}

.notCarousel {
  margin-bottom: 30px;
}

.bg-body-tertiary {
  background-color: #f5f3eab3 !important;
}

.bg-body-tertiary .nav-item a {
  padding-left: 17.5px;
}

.offcanvas-body .input-search {
  position: relative;
}

.offcanvas-body .icon-search {
  position: absolute;
  right: 4px;
  top: 4px;
  color: black;
}

.single-slick .slick-slider {
  background-color: #f5f3eab3 !important;
  height: 333px;
}

@media only screen and (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1200px !important;
  }
}

.slick-slider .slick-list, .element-card .card {
  height: 100%;
  font-size: 18px;
  font-family: 'ui-sans-serif';
}

.slick-list .slick-slide {
  cursor: grab;
}

.slick-list .slick-slide .card-image, .element-card .card-image {
  padding: 20px;
}

.card-image img:hover {
  transform: scale(1.2);
  transition: transform 1s ease;
}
.imag-hover {
  overflow: hidden;
}
.card-image .card-img-top {
  cursor: pointer;
}

.slick-list .slick-slide .card, .element-card .card {
  border-radius: inherit;
  border-color: #cebfaa47;
}

.card .card-body {
  padding-top: 0;
}

.slick-list .slick-slide .card-image img {
  box-shadow: 0 0 12px rgba(0,0,0,.12);
}

.single-slick .slick-dots {
  bottom: 0;
}

.icon-heart {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  border-radius: 55%;
  z-index: 1000;
  width: 15%;
  padding-right: 2px;
  cursor: pointer;
}
.icon-heart svg {
  color: green;
}
.isHoverHeart {
  transition: transform 1s ease;
  opacity: 1;
}
.icon-cart {
  opacity: 0;
  position: absolute;
  top: 144px;
  left: 89px;
  border: 1px solid green;
  background-color: forestgreen;
  border-radius: 55%;
  transition: transform 1s ease;
  width: 15%;
  padding-right: 2px;
  cursor: pointer;
}
.icon-cart svg {
  color: white;
  font-size: 15px;
}
.icon-cart:hover {
  background-color: orange;
  border-color: orange;
}
.icon-cart:hover svg {
  color: black
}
.isHover {
  transform: scale(1.5);
  transition: transform 1s ease;
  opacity: 1;
}

#danhmuc-sanpham, #sanpham-hot, #banh-keo-ngon, #combo-tiet-kiem {
  margin-top: 30px;
  font-size: 26px;
}

#sanpham-hot {
  background: #e4efe9 !important;
  padding: 10px 0 30px 0;
}

.style-cards {
  margin-top: 5px;
  margin-bottom: 40px;
}

.card-list-title {
  text-align: left;
  color: #228b22
}

.menu {
  margin-top: 40px;
}

.logo-header {
  width: 150px;
}
.icon-header {
  width: 1.5em !important;
  height: 1.5em !important;
  margin: 0.3em;
}

.small-text {
  display: flex;
  align-items: center;
  margin-left: 4px;
  color: gray;
  font-size: 12px;
  font-style: italic;
}
