.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.style-carousel {
  background: #61dafb;
  height: 400px;
}

.template-demo h5 {
  color: white;
  border: 1px solid burlywood;
  background: burlywood;
  display: inline-block;
}

.template-demo {
  margin-bottom: 100px;
}

.style-cards .row {
  width: 100%;
  margin: auto;
}

.style-cards .element-card {
  padding: 0;
}

.notCarousel {
  margin-bottom: 30px;
}

.bg-body-tertiary .nav-item a {
  padding-left: 17.5px;
}